name: README Update

on:
  schedule:
    # update once every 4 hours
    - cron: "0 */4 * * *"

jobs:
    update-readme:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout this repo
              uses: actions/checkout@v2

            - name: setup python
              uses: actions/setup-python@v2
              with:
                python-version: '3.9.14'

            - name: install python packages
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements.txt

            - name: update readme
              run: |
                python main.py